/* Roboto : font-family: 'Roboto', sans-serif; /// Shrikhand : font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
footer {
  bottom: 0;
  background-color: #353535;
  padding-left: 25px;
}

footer .footerLogo {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footerLogo img {
  width: 100px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding-bottom: 40px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-utensils {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

footer .fa-hands-helping {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

/* --------------- Colors --------------- */
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo img {
  width: 165px;
  height: 25px;
}

header .arrowButton {
  position: absolute;
  left: 20px;
  top: 25px;
}

header a {
  color: #353535;
}

header .restaurantPic {
  height: 220px;
}

header .restaurantPic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

main h2 {
  position: relative;
  z-index: 1;
  font-size: 1em;
  font-weight: lighter;
}

main h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

main h3 {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main h4 {
  font-size: 0.9em;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .fa-check-circle {
  color: white;
  font-weight: 900;
}

main .fa-check-circle:before {
  content: '\f058';
}

main .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99E2D0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0%;
}

main .listMenu span {
  padding-top: 38px;
  padding-right: 25px;
}

main .listMenu:hover .circle {
  width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

main .listMenu:hover .animCircle {
  -webkit-animation: rotateCheck 0.3s linear;
          animation: rotateCheck 0.3s linear;
}

main .widthAnim {
  width: 95%;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

section .Title span {
  font-family: 'Shrikhand', cursive;
  font-size: 1.6em;
}

section .Title i {
  padding: 9px;
}

section .Title .fa-heart {
  font-size: 22px;
}

section .Title .fa-heart:before {
  content: "\f004";
}

section .Title .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  font-weight: 900;
}

section .containerEntree {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.entree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  height: 70px;
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
}

aside button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
  border-radius: 25px;
  height: 50px;
  width: 220px;
}

aside button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA 40%, #9356DC 100%);
  -webkit-box-shadow: 5px 5px 5px 1px #a1a1a1;
          box-shadow: 5px 5px 5px 1px #a1a1a1;
}

aside form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

aside form span {
  color: white;
}

.containerDish {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  height: 70px;
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
  row-gap: 7px;
}

.dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  height: 70px;
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
  row-gap: 7px;
}

.containerDessert {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.entree, .dishes, .dessert {
  -webkit-animation: fadein 2s linear forwards;
          animation: fadein 2s linear forwards;
}

.entree1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.entree2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.entree3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.dishes1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dishes2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dishes3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dessert1 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.dessert2 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dessert3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateCheck {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCheck {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*# sourceMappingURL=menudelice.css.map */