*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    @include centerFlex;
    flex-direction: column;

    .logo{
        @include centerFlex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo img{
        width: 165px;
        height: 25px;
    }

    .arrowButton{
        position: absolute;
        left: 20px;
        top: 25px;
    }

    a{
        color: $background-grey;
    }

    .restaurantPic{
        height: 220px;
    }

    .restaurantPic img{
        object-fit: cover;
        width: 100%;
        height: 260px;
    }
}

main{
    @include centerFlex;
    flex-direction: column;
    background-color: $light-bground-grey;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    h2{
        position: relative;
        z-index: 1;
        font-size: 1em;
        font-weight: lighter;
    }

    h2:before{
        content : "";
        position: absolute;
        left: 0;
        bottom  : -5;
        height  : 1px;
        width   : 40px;
        border-bottom:3px solid $color-third;
    }

    h3{
        font-size: 1em;
    }

    h4{
        font-size: 1em;
        font-weight: lighter;
    }
}

section{
    .container{
        display: flex;
        flex-direction: column;
    }

    .Title{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;

        span{
            font-family: 'Shrikhand', cursive;
            font-size: 1.6em;
        }

        i{
            padding: 9px;
        }
    }




    .containerEntree{
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

.entree{
    @include menuList;
    @include shadowButtons;
    row-gap: 7px;
}

aside{
    button{
        @include centerFlex;
        @include InvertedfadeButtons;
        @include shadowButtons;
        border-radius: 25px;
        height: 50px;
        width: 220px;
    }

    form{
        @include centerFlex;
        margin-bottom: 80px;
        margin-top: 50px;
        span{
            color: white;
        }
    }

}

.containerDish{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.dishes{
    @include menuList;
    @include shadowButtons;
    row-gap: 7px;
}

.dessert{
    @include menuList;
    @include shadowButtons;
    row-gap: 7px;
}

.containerDessert{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}