@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadowButtons{
    border: none;
    box-shadow: 3px 3px 20px 1px $light-bground-grey;
}

@mixin fadeButtons{
    background-image: linear-gradient($color-primary, $color-secondary);
}

@mixin InvertedfadeButtons{
    background-image:linear-gradient($color-secondary, rgb(175,95,220), $color-primary);
}

@mixin menuList{
    display: flex;
    height: 70px;
    background-color: white;
    width: 350px;
    border-radius: 15px;
    padding-left: 10px;
    height: 70px;
}