/* --------------- Colors --------------- */

$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-third: #99E2D0;

$background-grey: rgb(53,53,53);

$light-bground-grey: rgb(234, 234, 234);

$white-grey: rgb(246,246,246);