@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Roboto : font-family: 'Roboto', sans-serif; /// Shrikhand : font-family: 'Shrikhand', cursive; */
/* --------------- Colors --------------- */
footer {
  bottom: 0;
  background-color: #353535;
  padding-left: 25px;
}

footer .footerLogo {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footerLogo img {
  width: 100px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding-bottom: 40px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-utensils {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

footer .fa-hands-helping {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.loaderWrapper.done {
  -webkit-animation: loadingDone 3s;
          animation: loadingDone 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar {
  width: 6px;
  height: 60px;
  background: white;
  display: inline-block;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: loading 3s ease-in-out infinite;
          animation: loading 3s ease-in-out infinite;
}

.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: #fff;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: #99E2D0;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: #fff;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: #99E2D0;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@-webkit-keyframes loadingDone {
  0% {
    opacity: 1;
    z-index: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes loadingDone {
  0% {
    opacity: 1;
    z-index: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

body {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container {
  width: 100%;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo img {
  width: 165px;
  height: 25px;
}

header .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  padding-bottom: 20px;
  padding-top: 20px;
}

header i {
  margin-right: 13px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

section h1 {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}

section h2 {
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

section .btnExplore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(#af5fdc), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #af5fdc, #9356DC);
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-bottom: 50px;
}

section .btnExplore:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA 40%, #9356DC 100%);
  -webkit-box-shadow: 5px 5px 5px 1px #a1a1a1;
          box-shadow: 5px 5px 5px 1px #a1a1a1;
}

section span {
  color: white;
}

aside h2 {
  padding-left: 25px;
  margin-top: 55px;
  margin-bottom: 35px;
}

aside button {
  font-weight: 900;
  letter-spacing: 1px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 325px;
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
  border-radius: 25px;
  background-color: white;
}

aside button i {
  padding: 12px;
}

aside button:hover {
  background: #f5edff;
  -webkit-transition: 1s;
  transition: 1s;
}

aside button:hover i {
  color: #9356DC;
}

aside .buttonsOperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  margin-bottom: 65px;
}

aside .numbers {
  margin-left: -10px;
  background: #9356DC;
  color: white;
  padding: 0.5em 0.6em;
  border-radius: 50%;
}

article {
  background-color: #f6f6f6;
}

article a {
  text-decoration: none;
  color: black;
}

article h2 {
  padding-left: 25px;
  padding-top: 60px;
  margin-bottom: 30px;
}

article .Restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-bottom: 65px;
}

article figure {
  max-width: 450px;
  width: 85%;
  height: 250px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 3px 3px 20px 1px #eaeaea;
          box-shadow: 3px 3px 20px 1px #eaeaea;
}

article p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 73%;
  font-size: 12px;
  font-weight: 600;
  background: #99E2D0;
  color: #008766;
  padding: 5px 8px 5px 8px;
  margin-top: 20px;
}

article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 65%;
}

article figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article figcaption h3 {
  font-size: 1.2em;
}

article figcaption h4 {
  font-size: 1em;
  font-weight: 100;
  padding-top: 5px;
}

article figcaption .fa-heart {
  font-size: 22px;
  margin-right: 20px;
}

article figcaption .fa-heart:before {
  content: "\f004";
}

article figcaption .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  font-weight: 900;
}

@media screen and (min-width: 650px) {
  aside h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article {
    width: 100%;
    height: auto;
  }
  article h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article figure {
    min-width: 375px;
  }
  article .Restaurants {
    row-gap: 40px;
  }
  article p {
    left: unset;
    margin-left: 360px;
  }
}

@media screen and (min-width: 1100px) {
  aside .buttonsOperation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  article .Restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 100px;
            column-gap: 100px;
    row-gap: 100px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1520px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1520px;
  }
}
/*# sourceMappingURL=style.css.map */