*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Roboto : font-family: 'Roboto', sans-serif; /// Shrikhand : font-family: 'Shrikhand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import './_variables';
@import './_footer';
@import './_mixins';
@import './_loadingScreen';

body{
    width: 100%;
}

header{
    @include centerFlex;
    width: 100%;

    .container{
        width: 100%;
    }

        .logo{
            @include centerFlex;
            padding-top: 20px;
            padding-bottom: 20px;
        }

            .logo img{
                width: 165px;
                height: 25px;
            }
    
                .position{
                @include centerFlex;
                background-color: $light-bground-grey;
                padding-bottom: 20px;
                padding-top: 20px;
                }

                    i{
                        margin-right: 13px;
                    }
}

section{
    @include centerFlex;
    flex-direction: column;
    background-color: $white-grey;

    h1{
       font-size: 15px;
       margin-top: 50px; 
    }

        h2{
            font-size: 12px;
            margin-top: 25px;
            margin-bottom: 35px;
        }

            .btnExplore{
                @include centerFlex;
                @include InvertedfadeButtons;
                @include shadowButtons;
                border-radius: 25px;
                height: 50px;
                width: 220px;
                margin-bottom: 50px;
            }

            .btnExplore:hover{
                background: linear-gradient($color-secondary 40%, $color-primary 100%);
                box-shadow: 5px 5px 5px 1px #a1a1a1;
            }

            span{
                color: white;
            }
}

aside{
    h2{
        padding-left: 25px;
        margin-top: 55px;
        margin-bottom: 35px;
    }

        button{
            letter-spacing: 1px;
            column-gap: 20px;
            display: flex;
            align-items: center;
            height: 75px;
            width: 325px;
            @include shadowButtons;
            border-radius: 25px; 
            background-color: white;

            i{
                padding: 12px;
            }
        }


        button:hover{
            background: $color-secondary-lighter;
            transition: 1s;
        }

        button:hover i{
            color: $color-primary;
        }

            .buttonsOperation{
                @include centerFlex;
                flex-direction: column;
                row-gap: 25px;
                margin-bottom: 65px;
            }

        .numbers{
            margin-left: -10px;
            background: $color-primary;
            color: white;
            padding: 0.5em 0.6em;
            border-radius: 50%;
        }
    
}

article{
    background-color: $white-grey;

    a{
        text-decoration: none;
        color: black;
    }

    h2{
        padding-left: 25px;
        padding-top: 60px;
        margin-bottom: 30px;
    }
        .Restaurants{
            flex-direction: column;
            @include centerFlex;
            row-gap: 15px;
            padding-bottom: 65px;
        }

            figure{
                max-width: 450px;
                width: 85%;
                height: 250px;
                border-radius: 25px;
                @include shadowButtons;
            }

                p{
                    display: flex;
                    position: absolute;
                    left: 73%;
                    font-size: 12px;
                    font-weight: 600;
                    background: #99E2D0;
                    color: rgb(0, 135, 102);
                    padding: 5px 8px 5px 8px;
                    margin-top: 20px;
                }
            

                img{
                    object-fit: cover;
                    width: 100%;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    height: 65%;
                }
                    figcaption{
                        display: flex;
                        padding-left: 15px;
                        padding-top: 20px;
                        justify-content: space-between;
                        h3{
                            font-size: 15px;
                        }

                        h4{
                            font-size: 14px;
                        }

                        .fa-heart{
                            font-size: 22px;
                            margin-right: 20px;
                        }

                        .fa-heart:before {
                            content: "\f004";
                        }

                        .fa-heart:hover{
                            background: linear-gradient($color-primary, $color-secondary);
                            background-clip: border-box;
                            color: transparent;
                            -webkit-background-clip: text;
                            transition: all 0.8s linear;
                            font-weight: 900;
                        }
                    }
}

@media screen and (min-width: 650px){
    aside{
        h2{
            @include centerFlex;
        }
    }

    article{
        width: 100%;
        height: auto;
        h2{
            @include centerFlex;
        }

        figure{
            min-width: 375px;
        }

        .Restaurants{
            row-gap: 40px;
        }

        p{
            left: unset;
            margin-left: 360px;
        }
    }

}

@media screen and (min-width: 1100px){
    aside{
        .buttonsOperation{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    article{
        .Restaurants{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 100px;
            padding-top: 20px;
        }
    }
}

@media screen and (min-width: 1520px){
    .wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 1520px;
    }
}