@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Roboto : font-family: 'Roboto', sans-serif; /// Shrikhand : font-family: 'Shrikhand', cursive; */
/* --------------- Colors --------------- */
footer {
  bottom: 0;
  background-color: #353535;
  padding-left: 25px;
}

footer .footerLogo {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footerLogo img {
  width: 100px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding-bottom: 40px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-utensils {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

footer .fa-hands-helping {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

body {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container {
  width: 100%;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo img {
  width: 165px;
  height: 25px;
}

header .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  padding-bottom: 20px;
  padding-top: 20px;
}

header i {
  margin-right: 13px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

section h1 {
  font-size: 15px;
  margin-top: 50px;
}

section h2 {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 35px;
}

section .btnExplore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-bottom: 50px;
}

section span {
  color: white;
}

aside h2 {
  padding-left: 25px;
  margin-top: 55px;
  margin-bottom: 35px;
}

aside button {
  height: 75px;
  width: 325px;
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  border-radius: 25px;
  background-color: white;
}

aside button:hover {
  background: #f5edff;
  -webkit-transition: 1s;
  transition: 1s;
}

aside button:hover i {
  color: #9356DC;
}

aside .buttonsOperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  margin-bottom: 65px;
}

aside .numbers {
  background: #9356DC;
  color: white;
  padding: 0.5em 0.6em;
  border-radius: 50%;
}

article {
  background-color: #f6f6f6;
}

article h2 {
  padding-left: 25px;
  padding-top: 60px;
  margin-bottom: 30px;
}

article .Restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  padding-bottom: 65px;
}

article figure {
  width: 85%;
  height: 250px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 2px gray;
          box-shadow: 0 0 2px gray;
}

article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 65%;
}

article figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-top: 20px;
}

article figcaption h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article figcaption h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article figcaption .fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */