/* Roboto : font-family: 'Roboto', sans-serif; /// Shrikhand : font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
footer {
  bottom: 0;
  background-color: #353535;
  padding-left: 25px;
}

footer .footerLogo {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footerLogo img {
  width: 100px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding-bottom: 40px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-utensils {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

footer .fa-hands-helping {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

/* --------------- Colors --------------- */
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .logo img {
  width: 165px;
  height: 25px;
}

header .arrowButton {
  position: absolute;
  left: 20px;
  top: 25px;
}

header a {
  color: #353535;
}

header .restaurantPic {
  height: 220px;
}

header .restaurantPic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

main h2 {
  position: relative;
  z-index: 1;
  font-size: 1em;
  font-weight: lighter;
}

main h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

main h3 {
  font-size: 1em;
}

main h4 {
  font-size: 1em;
  font-weight: lighter;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

section .Title span {
  font-family: 'Shrikhand', cursive;
  font-size: 1.6em;
}

section .Title i {
  padding: 9px;
}

section .containerEntree {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.entree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 15px;
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  row-gap: 7px;
}

.entree h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 25px;
}

aside button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  border-radius: 25px;
  height: 50px;
  width: 220px;
}

aside form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

aside form span {
  color: white;
}

.containerDish {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 15px;
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  row-gap: 7px;
}

.dishes h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 25px;
}

.dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
  background-color: white;
  width: 350px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 15px;
  border: none;
  -webkit-box-shadow: 5px 10px 18px #eaeaea;
          box-shadow: 5px 10px 18px #eaeaea;
  row-gap: 7px;
}

.dessert h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 25px;
}

.containerDessert {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

/* ---------------------------------------------------------------------------------------------- */
/*# sourceMappingURL=menunote.css.map */